@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #f1f4ff;
  padding: 50px;
  font-family: "Mullish", sans-serif;

  .button {
    margin: 0 auto;
    padding: 13px 26px;
    line-height: 20px;
    background: #3863fc;
    color: #ffffff;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      background: lighten(#6687ff, 3);
    }
  }

  .content_home {
    margin-top: 20px;
    background: #ffffff;
    width: 80%;
    height: auto;
    padding: 45px;
    border-radius: 7px;
    box-shadow: 0px 17px 26px -8px rgba(151, 172, 193, 0.6);

    .content-title {
      color: #555;
      margin-bottom: 30px;
      line-height: 25px;
      font-weight: 700;
    }
  }
}

.grid_imgs {
  background-color: #ededed !important;
  padding: 10px;
  border-radius: 5px;
}
